* {
	box-sizing: border-box;
	margin: 0;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list {
	display: flex;
}

.completed {
	color: green;
}

.important {
	color: red;
}

.delete-btn {
	background: url(assets/images/delete.png) center no-repeat rgba(255, 255, 255, 0.5);
	height: 40px;
	width: 30px;
	border: none;
}

.delete-btn:hover {
	background: url(assets/images/delete.png) center no-repeat rgba(225, 152, 152, 0.5);
}